<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Order</title>
</head>
<body>
<div id="search-component">
  <input class="input-search" type="search"
         [(ngModel)]="searchString"
         placeholder="Filter by name..."/>
</div>

<main>
  <section>
    <h3 class="section-title">Items</h3>

      <ul class="card-list row">
        <li class="card col-sm-2" *ngFor="let item of _items$ | async | nameFilter:searchString">
            <div routerLink="/view-item/{{item.id}}" class="card-title">{{item.name}}</div>
            <img routerLink="/view-item/{{item.id}}" class="card-image" src="../assets/item-image.png" alt="item image">
            <div class="card-footer">
              <div>Price: &euro; {{item.price}}</div>
              <div class="stock">
                <span>{{convertToUrgency(item.amountOfStock)}}</span>
                <img class="icon" src='../assets/warning-icon-{{getFlagColor(item.amountOfStock)}}.png' alt="warning">
              </div>
            </div>
        </li>
      </ul>
  </section>
</main>
</body>
</html>
