<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Order</title>
</head>
<body>
<header>
  <div class="logo-group">
    <img src="../assets/order-icon.png" alt="order-icon">
    <span class="logo-title">&Ouml;RDER</span>
  </div>
  <nav role="navigation">
    <a href='#'>Items</a>
    <a href='#'>Nav #2</a>
    <a href='#'>Nav #3</a>
    <a href='#'>Nav #4</a>
  </nav>
</header>
<div id="search-component">
  <input class ="input" type="search"
         [(ngModel)]="searchString"
         placeholder="Filter by name..."/>
</div>

<main>
  <section>
    <h3 class="section-title">Items</h3>

    <ul class="card-list">
      <li class="card" *ngFor="let item of _items$ | async | nameFilter:searchString">
        <div class="card-title">{{item.name}}</div>
        <img class="card-image" src="../assets/item-image.png" alt="item image">
        <div class="card-footer">
          <div>Price: &euro; {{item.price}}</div>
          <div class="stock">
            <span>{{convertToUrgency(item.amountOfStock)}}</span>
            <img class="icon" src='../assets/warning-icon-{{getFlagColor(item.amountOfStock)}}.png' alt="warning">
          </div>
        </div>
      </li>
    </ul>
  </section>
</main>
<footer>
  <div class="logo-group">
    <img src="../assets/order-icon.png" alt="order-icon">
    <span class="logo-title">&Ouml;RDER</span>
  </div>
</footer>
</body>
</html>
