<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Order</title>
</head>
<body>
<div id="search-component">
  <input class="input" type="search"
         [(ngModel)]="searchString"
         placeholder="Filter by name..."/>
</div>

<main>
  <section>
    <h3 class="section-title">Items</h3>

    <div class="row">
      <ul class="card-list">
        <li class="cardComp col-lg-4" *ngFor="let item of _items$ | async | nameFilter:searchString">
          <div class="row">
            <div class="card-title">{{item.name}}</div>
            <img class="card-image" src="../assets/item-image.png" alt="item image">
            <div class="card-footer">
              <div>Price: &euro; {{item.price}}</div>
              <div class="stock">
                <span>{{convertToUrgency(item.amountOfStock)}}</span>
                <img class="icon" src='../assets/warning-icon-{{getFlagColor(item.amountOfStock)}}.png' alt="warning">
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</main>
</body>
</html>
