<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Order</title>
</head>
<body>
<main>
  <section>
    <h3 class="section-title">Create Item</h3>
    <form (ngSubmit)="onSubmit()" [formGroup]="checkoutForm">
      <div class="form-group">
        <label class="form-label">Name</label>
        <input type="name" class="form-control" formControlName="name">
      </div>

      <div
        *ngIf="(checkoutForm.controls['name']?.invalid && (checkoutForm.controls['name']?.dirty || checkoutForm.controls['name']?.touched))"
        class="alert alert-danger">
        <div *ngIf="checkoutForm.controls['name'].errors?.required">
          Name is required.
        </div>
      </div>

      <div class="form-group">
        <label class="form-label">Description</label>
        <textarea rows="4" cols="48" class="form-control textbox-desc" formControlName="description"></textarea>
        <app-counter></app-counter>
      </div>

      <div
        *ngIf="checkoutForm.controls['description']?.invalid && (checkoutForm.controls['description']?.dirty || checkoutForm.controls['description']?.touched)"
        class="alert alert-danger">
        <div *ngIf="checkoutForm.controls['description'].errors?.required">
          Description is required.
        </div>
        <div *ngIf="checkoutForm.controls['description'].errors?.maxlength">
          Description cannot contain more than 255 characters.
        </div>
       <!-- <div>
          {{JSON.stringify(checkoutForm.controls['description'].errors)}}
        </div> gebruiken om na te gaan wat de effectieve naam van de error is! -->
      </div>

      <div class="form-group input-group mb-3">
        <label class="form-label price-label" for="price">Price</label>
        <div class="input-group-prepend">
          <span class="input-group-text">€</span>
        </div>
        <input type="text" class="form-control" id="price" formControlName="price">
      </div>

      <div
        *ngIf="checkoutForm.controls['price']?.invalid && (checkoutForm.controls['price']?.dirty || checkoutForm.controls['price']?.touched)"
        class="alert alert-danger">
        <div *ngIf="checkoutForm.controls['price'].errors?.required">
          Price is required.
        </div>
        <div *ngIf="checkoutForm.controls['price'].errors?.min">
          Price cannot be negative.
        </div>
      </div>

      <div class="form-group">
        <label class="form-label">Amount of Stock</label>
        <input class="form-control" formControlName="amount">
      </div>

      <div
        *ngIf="checkoutForm.controls['amount']?.invalid && (checkoutForm.controls['amount']?.dirty || checkoutForm.controls['amount']?.touched)"
        class="alert alert-danger">
        <div *ngIf="checkoutForm.controls['amount'].errors?.required">
          Amount is required.
        </div>
        <div *ngIf="checkoutForm.controls['amount'].errors?.min">
          Amount cannot be negative.
        </div>
      </div>


      <div class="btn-form">
        <button type="submit" class="btn btn-create">Create</button>
        <button class="btn btn-cancel" type="button" (click)="goBack()">Cancel</button>
      </div>
    </form>


  </section>
</main>
</body>
</html>
