<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Order</title>
</head>
<body>
<main>
  <section *ngIf="_item$ | async as item">
    <h3 class="section-title">Item <p>{{item.id}}</p></h3>
    <form>
      <div class="form-group">
        <label class="form-label">Name</label>
        <input [readonly] = "isReadOnly" type="name" class="form-control" [(ngModel)] = "item.name" [ngModelOptions]="{standalone: true}">
      </div>


      <div class="form-group">
        <label class="form-label">Description</label>
        <textarea [readonly] = "isReadOnly" rows="4" cols="48" class="form-control textbox-desc" [(ngModel)] = "item.description" [ngModelOptions]="{standalone: true}"></textarea>
      </div>

      <div class="form-group input-group mb-3">
        <label class="form-label price-label" for="price">Price</label>
        <div class="input-group-prepend">
          <span class="input-group-text">€</span>
        </div>
        <input [readonly] = "isReadOnly" type="text" class="form-control" id="price"[(ngModel)] = "item.price" [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group">
        <label class="form-label">Amount of Stock</label>
        <input [readonly] = isReadOnly class="form-control" [(ngModel)] = "item.amountOfStock" [ngModelOptions]="{standalone: true}">
      </div>


      <div class="btn-form">
        <button routerLink="/edit-item/{{item.id}}" type="submit" class="btn btn-create">Update</button>
        <button class="btn btn-cancel" type="button" (click)="goBack()">Back</button>
      </div>
    </form>
  </section>
</main>
</body>
</html>
