<header>
  <div class="logo-group">
    <img src="../assets/order-icon.png" alt="order-icon">
    <span class="logo-title">&Ouml;RDER</span>
  </div>
  <nav role="navigation">
    <a routerLink='/item-overview'>Items</a>
    <a routerLink='/create-item'>Create Item</a>
    <a href='#'>Nav #3</a>
    <a href='#'>Nav #4</a>
  </nav>
</header>
<router-outlet></router-outlet>
<footer>
  <div class="logo-group">
    <img src="../assets/order-icon.png" alt="order-icon">
    <span class="logo-title">&Ouml;RDER</span>
  </div>
</footer>
